<html>
<head>
  <style>
  .map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  
  .map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
  </style>
</head>
<body>
  <div class="map-responsive">
    <div class="airbnb-embed-frame" data-id="14817516" data-view="home" style="width:450px;height:300px;margin:auto">
      <a href="https://www.airbnb.com/rooms/14817516?s=66&amp;unique_share_id=1dac2a34-7def-474e-9cf0-0bb25d9f20c8&amp;source=embed_widget">View On Airbnb</a>
      <a href="https://www.airbnb.com/rooms/14817516?s=66&amp;unique_share_id=1dac2a34-7def-474e-9cf0-0bb25d9f20c8&amp;source=embed_widget" rel="nofollow">Idyllic House in the Middle of Härjedalen</a>
      <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
    </div>
  </div>
</body>
</html>