<div class="iframely-embed" style="min-width: 450px;"><div class="iframely-responsive" style="height: 300px; padding-bottom: 0;"><a href="https://www.airbnb.se/rooms/14817516" data-iframely-url="//cdn.iframe.ly/JecbT0m"></a></div></div><script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
<!--
<html>
<head>
  <style>
  .room-container {
    display: flex;
    flex-flow: row wrap;
  }
  
  .room {
    width: 450px;
    height: 300px;
    margin: auto;
  }
  
  @media all and (max-width: 500px) {
    .room-container {
      flex-direction: column;
    }

    .room {
        transform-origin: left;
    }
  }
  </style>
</head>
<body>
  <div class="airbnb-embed-frame" data-id="14817516" data-view="home" style="width:450px;height:300px;margin:auto">
    <a href="https://www.airbnb.com/rooms/14817516?s=66&amp;unique_share_id=1dac2a34-7def-474e-9cf0-0bb25d9f20c8&amp;source=embed_widget">View On Airbnb</a>
    <a href="https://www.airbnb.com/rooms/14817516?s=66&amp;unique_share_id=1dac2a34-7def-474e-9cf0-0bb25d9f20c8&amp;source=embed_widget" rel="nofollow">Idyllic House in the Middle of Härjedalen</a>
    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
  </div>
</body>
<script>
  (function () {
    const resize = () => {
      let rooms = document.getElementsByClassName('room');
      for (let room of rooms) {
        let scale = (window.innerWidth - 15) / room.offsetWidth;
        room.style.transform = 'scale(' + scale + ')';
      }
    }
    
    window.onload = () => resize();
    window.onresize = () => resize();
  })();
</script>
</html>
-->